<html>

    <head>
        <title>Productivity Planner</title>
    </head>

    <body>
        <h1>Productivity Planner For Software Developers </h1>
        <form method="post">
            <input id="new_task" placeholder="Enter a new task" , name="task_text" />
            {% csrf_token %}
        </form>
        <table id="task_table">
            {% for task in tasks %}
            <tr>
                <td>{{ task.text }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>

</html>